.contact-class {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .contacts-header {
    display: flex;
    justify-content: center;
    padding: 30px;
  }
  .table-class {
    display: flex;
    align-items: center;
  }
}
